{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" id="myForm" method="post" >
        <div class="form-group">
            <input id="field_username" autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" required pattern="\w+" >
        </div>
        <div class="form-group">
            <input id="field_password" class="form-control" name="password" placeholder="Password" type="password" required >
        </div>
        <div class="form-group">
            <input id="field_confirmation" class="form-control" name="confirmation" placeholder="Confirm Password" type="password" required>
        </div>
        <button class="btn btn-danger" id="submit_button" type="submit">Register</button>
    </form>



{% endblock %}
<!-- required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{1,}" onchange="form.confirmation.pattern = RegExp.escape(this.value);" -->
